In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [6]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West
9,10,San Francisco 49ers,"1,018",532,472,14,0.529,1950,NFC West

In [7]:
nfl_frame.columns

Index([u'Rank', u'Team', u'GP', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Division'],
      dtype='object')

In [9]:
nfl_frame.Team

0             Dallas Cowboys
1              Chicago Bears
2          Green Bay Packers
3    New England Patriots[b]
4             Miami Dolphins
5          Minnesota Vikings
6           Baltimore Ravens
7            New York Giants
8             Denver Broncos
9        San Francisco 49ers
Name: Team, dtype: object

In [11]:
nfl_frame['First NFL Season']

0    1960
1    1920
2    1921
3    1960
4    1966
5    1961
6    1996
7    1925
8    1960
9    1950
Name: First NFL Season, dtype: int64

In [12]:
DataFrame(nfl_frame,columns= ['Team', 'First NFL Season', 'Total Games'])

                      Team  First NFL Season  Total Games
0           Dallas Cowboys              1960          NaN
1            Chicago Bears              1920          NaN
2        Green Bay Packers              1921          NaN
3  New England Patriots[b]              1960          NaN
4           Miami Dolphins              1966          NaN
5        Minnesota Vikings              1961          NaN
6         Baltimore Ravens              1996          NaN
7          New York Giants              1925          NaN
8           Denver Broncos              1960          NaN
9      San Francisco 49ers              1950          NaN

In [14]:
DataFrame(nfl_frame,columns= ['Team', 'Stadium', 'First NFL Season', 'Total Games'])
#calling column that does not exist will not give error but will give NUll

                      Team  Stadium  First NFL Season  Total Games
0           Dallas Cowboys      NaN              1960          NaN
1            Chicago Bears      NaN              1920          NaN
2        Green Bay Packers      NaN              1921          NaN
3  New England Patriots[b]      NaN              1960          NaN
4           Miami Dolphins      NaN              1966          NaN
5        Minnesota Vikings      NaN              1961          NaN
6         Baltimore Ravens      NaN              1996          NaN
7          New York Giants      NaN              1925          NaN
8           Denver Broncos      NaN              1960          NaN
9      San Francisco 49ers      NaN              1950          NaN

In [15]:
nfl_frame.tail()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West
9,10,San Francisco 49ers,"1,018",532,472,14,0.529,1950,NFC West

In [16]:
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [20]:
#retrieving extact rows
#nfl_frame.ix[3]
# .loc for label based indexing or
#.iloc for positional indexing

nfl_frame.iloc[3]

Rank                                      4
Team                New England Patriots[b]
GP                                      900
Won                                     500
Lost                                    391
Tied                                      9
Pct.                                  0.561
First NFL Season                       1960
Division                           AFC East
Name: 3, dtype: object

In [21]:
nfl_frame.loc[3]

Rank                                      4
Team                New England Patriots[b]
GP                                      900
Won                                     500
Lost                                    391
Tied                                      9
Pct.                                  0.561
First NFL Season                       1960
Division                           AFC East
Name: 3, dtype: object

In [23]:
#assign values to entire column
nfl_frame['Stadium'] = "Levi's Stadium"

#used double quote here as we have singles quote for 's in Levi's

In [24]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,Levi's Stadium
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,Levi's Stadium
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,Levi's Stadium
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,Levi's Stadium
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,Levi's Stadium
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North,Levi's Stadium
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North,Levi's Stadium
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East,Levi's Stadium
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West,Levi's Stadium
9,10,San Francisco 49ers,"1,018",532,472,14,0.529,1950,NFC West,Levi's Stadium

In [25]:
nfl_frame['Stadium'] = np.arange(10)

In [26]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,0
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,1
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,2
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,3
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,4
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North,5
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North,6
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East,7
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West,8
9,10,San Francisco 49ers,"1,018",532,472,14,0.529,1950,NFC West,9

In [30]:
#add series to df

stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])

In [31]:
 stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [32]:
nfl_frame['Stadium'] =  stadiums

In [34]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,AT&T Stadium
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,NaN
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,NaN
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,NaN
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,Levi's Stadium
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North,NaN
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North,NaN
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East,NaN
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West,NaN
9,10,San Francisco 49ers,"1,018",532,472,14,0.529,1950,NFC West,NaN

In [36]:
#constructing dataframe using dictionary

data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [38]:
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000